* {
	box-sizing: border-box !important;
}

.app {
	padding: 15px;
	display: flex;
}

@keyframes slidy {
	0% { transform: translateX(0); }
    25% { transform: translateX(-20%); }
    50% { transform: translateX(-40%); }
    75% { transform: translateX(-60%); }
    100% { transform: translateX(-80%); }
}